
@{
    ViewBag.Title = "Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content jumbotron">
    <div id="templatemo_content">

        <h2>Department</h2>

        <div class="product_box margin_r_10">
            <a href="@Url.Action("Save", "AllocateClassroom")">
                <img src=@Url.Content("~/images/templatemo_image_01.jpg") alt="image" />
            </a>
            <h3>Allocate ClassRooms</h3>
            <!-- <p>Etiam molestie massa nec nulla sagittis et luctus nulla ullamcorper a porttitor est. <a href="work_detail.jsp">More...</a></p> -->
        </div>

        <div class="product_box margin_r_10">
            <a href="@Url.Action("Show", "RoomAllocationView")">
                <img src=@Url.Content("~/images/templatemo_image_01.jpg") alt="image"/>
            </a>
            <h3>Room Allocation View</h3>
            <!-- <p>Aenean aliquam ullamcorper metus, at cursus elit sodales dignissim. <a href="work_detail.jsp">More...</a></p> -->
        </div>

        <div class="product_box margin_r_10">
            <a href="@Url.Action("Unallocate", "UnallocateClassRoom")">
                <img src=@Url.Content("~/images/templatemo_image_01.jpg") alt="image" />
            </a>
            <h3>Unallocate ClassRooms</h3>
            <!-- <p>Aenean aliquam ullamcorper metus, at cursus elit sodales dignissim. <a href="work_detail.jsp">More...</a></p> -->
        </div>


        <div class="cleaner_h20"></div>

        <div class="cleaner"></div>
    </div>
</div>

